### local ###
FRONTEND_URL=http://localhost:8788
SUPABASE_URL=http://localhost:54321
SUPABASE_PUBLISHABLE_KEY=paste in the publishable key from `npx supabase status`
SUPABASE_SECRET_KEY=paste in the secret key from `npx supabase status`
### remote ###
# FRONTEND_URL=https://bbc-clerk.pages.dev
# SUPABASE_URL=https://jljuisgrqpwsuuyrkgdd.supabase.co
# SUPABASE_PUBLISHABLE_KEY=paste in the publishable key from https://supabase.com/dashboard/project/jljuisgrqpwsuuyrkgdd/settings/api-keys
# SUPABASE_SECRET_KEY=paste in the secret key from https://supabase.com/dashboard/project/jljuisgrqpwsuuyrkgdd/settings/api-keys