### local ###
SUPABASE_URL=http://localhost:54321
SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SUPABASE_SECRET_KEY=sb_secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
### remote ###
# SUPABASE_URL=https://jljuisgrqpwsuuyrkgdd.supabase.co
# SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# SUPABASE_SECRET_KEY=sb_secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX